<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2"> 
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
      <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required/>
       <div class="valid-feedback">Tittle looks good!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
        name="listing[description]"
        class="form-control" required></textarea>
        <div class="invalid-feedback">Please Enter a description</div>
      </div>
      
      <div class="mb-3">
        <label for="image" class="form-label" class="form-label" >Upload Image listings</label>
        <input
        name="listing[image]"
      
        type="file" class="form-control"
        required
      />
     
      </div>
      
      <div class="mb-3">
        <label for="price" class="form-label" >Price</label>
        <input name="listing[price]" placeholder="1200"  class="form-control" required/>
        <div class="invalid-feedback">Please Enter a Price</div>
      </div>



      <div class="mb-3">
        <label for="country" class="form-label" >Country</label>
        <input name="listing[country]" placeholder="enter country" type="text" class="form-control" required/>
        <div class="invalid-feedback">Please Enter a Country name</div>
      </div>


      <div class="mb-3">
        <label for="location" class="form-label" >Location</label>
        <input
        name="listing[location]"
        placeholder="enter location"
        type="text" class="form-control"required />
        <div class="invalid-feedback">Please Enter a location</div>
      </div>
      <button class="btn btn-dark add-btn mt-3"> Add</button>
    </form>
  </div>
</div>

